@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

*{
    font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1{
    font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    gap: 5%;
}
.innerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.web-cam{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 1%;
}
.happy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}
.img{
    width: 200px;
}

@media (max-width: 400px) {
    .container{
        flex-direction: column;
        padding: 2rem;
    }
    button{
        margin: 2rem;
    }
    .cameraContainer{
        flex-direction: column;
        padding: 1rem;
    }
    .web-cam{
        flex-direction: column;
    }
    
}